@font-face {
  font-family: 'Amberg Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Amberg Regular'), url('Amberg.woff') format('woff');
}

h1 {
  font-family: 'Amberg Regular';
  font-weight: 500;
  color: black;
}